body {
  margin: 0;
  font-family: sans-serif;
}

.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Start of Navigation */
.topnav-container {
  background-color: rgb(57, 57, 57);
  height: 45px;
  box-shadow: 1px 10px 10px 4px rgb(115, 120, 119, 0.5);
}

.profile-picture {
  width: 30px;
  height: auto;
  border-radius: 50%;
}

.navbar {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navlinks {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 100;
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.navlinks a {
  padding: 15px 25px;
}

.navlinks a:hover {
  background-color: rgb(35, 163, 86);
  box-shadow: 0px 5px 10px rgb(35, 163, 86, 0.5);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* End of Navigation */

.text-banner {
  margin-top: 45px;
  height: 50px;
  background-color: rgb(187, 187, 187);
  text-align: center;
}

.text-banner p {
  margin: 0;
  font-size: 16px;
  padding-top: 15px;
  color: black;
}

.banner-text {
  color: white;
  flex-direction: column;
}

.banner-image {
  background-image: url(./images/Free\ Fall\ Standard\ med\ high\ 2\ med.png);
  background-size: 100%;
  height: 600px;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  width: 100%;
  height: 600px;
}

.column {
  float: left;
  width: 48%;
  text-align: center;
  margin: 1%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.left {
  background-image: url(./images/Snowy\ Nights\ standard\ high\ 3\ low.png);
  color: white;
}

.right {
  background-image: url(./images/Snowy\ Nights\ Occ\ Wire.png);
  color: black;
}

.parallax {
  margin-top: 40px;
  background-image: url(./images/Chinese\ Festival\ small\ test\ 14_1.png);
  min-height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.content {
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 25px;
  color: white;
  font-size: 35px;
  margin: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 200px;
}

.scroll-text {
  font-size: 20px;
  padding-top: 70px;
  color: white;
  text-align: center;
}

.char {
  background-image: url(./images/Halloween\ Char\ GOOD.png);
}

.char:hover {
  background-image: url(./images/Halloween\ Char\ EVIL\ 1.5.png);
}

.char-anim {
  background-image: url(./images/Halloween\ Char\ GOOD.png);
  animation-name: switch;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes switch {
  0% {
    background-image: url(./images/Halloween\ Char\ GOOD.png);
  }
  50% {
    background-image: url(./images/Halloween\ Char\ GOOD.png);
  }
  100% {
    background-image: url(./images/Halloween\ Char\ EVIL\ 1.5.png);
  }
}
/* 
p {
  color: green;
  text-shadow: 4px 4px red;
  margin-bottom: -10px;
}
  
p:hover {
  animation: shake 0.01s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-20deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(20deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(20deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-20deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-20deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(20deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-20deg);
  }
}
 */
