.apple-logo {
  width: 15px;
  height: auto;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 55px;
}

/* Navbar */
.nav-item {
  font-size: 10px;
  margin: 0 15px;
}

/* Blurry navbar */
.navbar {
  backdrop-filter: blur(10px);
}

.navbar-toggler-icon {
  background-size: 50%;
}

/* Hero */
.ai-gradient {
  background: -webkit-linear-gradient(
    356deg,
    #0090f7,
    #ba62fc,
    #f2416b,
    #f55600
  );
  background: linear-gradient(94deg, #0090f7, #ba62fc, #f2416b, #f55600);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.hero-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-1-section {
  background-image: url(./images/hero_iphone_family.jpg);
  height: 800px;
}

.hero-2-section {
  background-image: url(./images/hero_macbook_neo_lg_tall.jpg);
  height: 600px;
}

.hero-3-section {
  background-image: url(./images/hero_iphone_fam_lg_tall.jpg);
  height: 600px;
}

.hero-4-section {
  background-image: url(./images/hero_ipad_air_m4_lg.jpg);
  height: 600px;
}

.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bi-apple {
  font-size: 30px;
}

/* Grid */
.my-card {
  padding: 0 100px;
}

.my-card a {
  font-size: 13px;
}

.my-card p {
  font-size: 20px;
}

/* Carousel */
.carousel-item {
  float: none;
}

.carousel-image {
  height: 500px;
  object-fit: cover;
}

.carousel-caption {
  left: 10%;
  right: 10%;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: pink;
}

/* footer */
.footer-div {
  max-width: 1000px;
  padding: 0px 20px;
  margin: 0 auto;
  box-sizing: content-box;
  line-height: 16px;
  position: static;
}

.footer-div span,
p,
li,
h3,
div {
  font-size: 12px;
  text-decoration: none;
}

.footer-link p,
a {
  font-size: 12px;
  text-decoration: none;
  color: black;
}

.footer-link a:hover,
.footer-legal a:hover {
  text-decoration: underline;
}

/* .footer-legal li {
  padding-left: 15px;
  border-left: 1px solid black;
  margin-bottom: 5px;
}
 */
.footer-legal li::after {
  content: "|";
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: list-item;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: -0.01em;
}

/* accordian */
