.apple-logo {
  width: 15px;
  height: auto;
}

.nav-item {
  font-size: 10px;
  margin: 0 15px;
}

.navbar-toggler-icon {
  background-size: 50%;
}

.ai-gradient {
  background: -webkit-linear-gradient(
    356deg,
    #0090f7,
    #ba62fc,
    #f2416b,
    #f55600
  );
  background: linear-gradient(94deg, #0090f7, #ba62fc, #f2416b, #f55600);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.hero-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-image h1 {
  font-size: 55px;
}

.hero-1-section {
  background-image: url(./images/hero_iphone_family.jpg);
  height: 800px;
}

.hero-2-section {
  background-image: url(./images/hero_macbook_neo_lg_tall.jpg);
  height: 600px;
}

.hero-3-section {
  background-image: url(./images/hero_iphone_fam_lg_tall.jpg);
  height: 600px;
}

.hero-4-section {
  background-image: url(./images/hero_ipad_air_m4_lg.jpg);
  height: 600px;
}

.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bi-apple {
  font-size: 30px;
}

.my-card {
  padding: 0 100px;
}

.my-card a {
  font-size: 13px;
}

.my-card p {
  font-size: 20px;
}

.flavour-txt {
  padding: 0 0 0 20px;
}
